<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Войти</title>
<body>
<form action="/login" method="post">
    <h1>Вход</h1>
    <p>Введите необходимые данные для входа в систему</p>
    <hr>
    <p>Email:<br>
        <input name="email" />
    </p>
    <p>Пароль:<br>
            <input name="password" type="password" />
        </p>
    <hr>
    <input type="submit" value="Войти" />
    <p>Еще не зарегистрированы?<a href="/registration">Зарегистрироваться</a></p>
</form>
</body>
</html>